.App {
  text-align: center;
  width: 1200px;
}

body {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

#query-pane {
  width: 100%;
  margin: auto;
  height: 250px;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
}

#query-view {
  width: 100%;
}

#results-pane {
  background-color: white;
  overflow: scroll;
  height: 800px;
}

#results-pane table {
  background-color: white;
  color: black;
  text-align: left;
  font-size: x-small;
}

#status {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2em;
  padding-left: 2em;
  font-size: small;
  background-color: rgb(200, 200, 200);
}
