.App {
  width: 1200px;
}

body {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #495057;
}

#connection-select-view {
  display: inline-flex;
  width: 100%;
  height: 1000px;
}

#connections-list {
  flex-grow: .75;
  padding: 1em;
  border-right: 1px solid black;
}

#connections-form {
  flex-grow: 2;
  padding: 1em;
}

.connection-link {
  cursor: pointer;
  display: block;
}

#add-connection {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
}

#query-pane {
  width: 100%;
  margin: auto;
  height: 300px;
  border-bottom: 2px solid #dee2e6;
}

#query-view {
  width: 100%;
}

#results-pane {
  background-color: white;
  overflow: scroll;
  height: 675px;
}

#results-pane table {
  background-color: white;
  color: black;
  text-align: left;
  font-size: x-small;
}

#results-pane th {
  position: sticky;
  top: -1px;
  background: #dee2e6;
}

#results-pane td {
  width: 1px;
  white-space: nowrap;
}

.table-header {
  resize: horizontal;
  overflow: auto;
}

#status {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2em;
  padding-left: 2em;
  font-size: small;
  background-color: rgb(200, 200, 200);
}

.null {
  color: #bec2c6;
}

textarea {
  font-family: monospace;
  height: 100%;
}
